<form id="new-post-form">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input class="form-control" id="title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea class="form-control" id="content" cols="30" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary login-btn">Submit Post</button>
</form>

<button type="button" class="new-post btn btn-primary login-btn">New Post</button>

<script src="./js/dashboard.js"></script>