<form id="login-form">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input class="form-control" id="username" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary login-btn">Login</button>
  <p>Don't have an account?</p>
  <a href="#" class="signup-link">Click Here to Sign Up!</a>
</form>

<script src="./js/login.js"></script>